<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <servlet>
       <servlet-name>ThrottleDemoServlet</servlet-name>
       <display-name>TestReceiver</display-name>
      <servlet-class>no.dagkilsk.cameltest.throttledemo.ThrottleDemoServlet</servlet-class>
    </servlet>

     <servlet-mapping>
      <servlet-name>ThrottleDemoServlet</servlet-name>
      <url-pattern>/throttledemo</url-pattern>
   </servlet-mapping>

</web-app>
